body {
    font-family:
sans-serif;
    margin: 20px;
}
table {
    text-align: left;
    width: 100%;
    border-collapse:collapse;
    border: 1px solid #ccc;
}
    td{
        padding: 8px;
        border: 1px solid #ccc;
    }
    